## .NET
bin/
obj/

## Visual Studio
.vs/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Secrets / environment-specific config
**/appsettings.Development.json

## Misc
*.log
*.tmp
